<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <Product
      Id="*"
      Name="GAM-B"
      Language="1033"
      Version="$(env.GAMVERSION)"
      Manufacturer="Ross Scroggs - ross.scroggs@gmail.com"
      UpgradeCode="88FBDB33-97D8-4CB1-BC4C-B9A1626C893E">
    <Package
        InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
        DowngradeErrorMessage=
            "A newer version of [ProductName] is already installed."
        Schedule="afterInstallExecute" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature
        Id="gam"
        Title="GAM-B"
        Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ROOTDRIVE">
          <Directory Id="INSTALLFOLDER" Name="GAM" />
        </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Group of components that are our main application items -->
    <ComponentGroup
        Id="ProductComponents"
        Directory="INSTALLFOLDER"
        Source="gam-64">
      <Component Id="gam_exe" Guid="984cdc5f-1093-4ad9-950c-c71a0a96eda4">
        <File Name="gam.exe" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="yes" />
      </Component>
      <Component Id="license" Guid="c2188eea-c2f3-40f3-bbdb-2d3ac425077b">
        <File Name="LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="whatsnew_txt" Guid="7b226c53-198c-449e-87f2-595ea017b0f1">
        <File Name="whatsnew.txt" KeyPath="yes" />
      </Component>
      <Component Id="gam_setup_bat" Guid="9143ec28-7a90-466b-92d5-6cb818ecdcec">
        <File Name="gam-setup.bat" KeyPath="yes" />
      </Component>
      <Component Id="GamCommands_txt" Guid="cef7ce28-4349-49c7-8098-acb733bfa7b8">
        <File Name="GamCommands.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <InstallUISequence>
      <ExecuteAction />
      <Show Dialog="WelcomeDlg" Before="ProgressDlg" />
    </InstallUISequence>
    <CustomAction Id="setup_gam" ExeCommand="[INSTALLFOLDER]gam-setup.bat" Directory="INSTALLFOLDER" Execute="commit" Impersonate="yes" Return="asyncWait"/>
    <InstallExecuteSequence>
     <Custom Action="setup_gam" After="InstallFiles" >NOT Installed AND NOT UPGRADINGPRODUCTCODE AND NOT WIX_UPGRADE_DETECTED</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
